<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	version="2.5"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<display-name>javaws-example</display-name>
	
	<servlet>
		<servlet-name>GetSquare</servlet-name>
		<servlet-class>com.mckibbin.jaxws.impl.GetSquareImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetSquare</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
</web-app>